*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    background: white;
}
nav{
    display: flex;
    align-items: center;
    margin: 3px 1px;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    width:150px;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
}
.search input{
    width: 250px;
    padding: 10px;
    border: .5px #dbdbdb; 
    height: 15px; 
    border-radius: 8px;
    background-color: #dbdbdb;
}
.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
.home img{
    width: 25px;
    padding: 7px
}
.chat img{
    width: 25px;
    padding: 7px;
}
.more img{
    width: 25px;
    padding: 7px;
} 
.compass img{
    width: 25px;
    padding: 7px;
}
.heart img{
    width: 25px;
    padding: 7px;
}
.man img{
    width: 25px;
    padding: 7px;
}
main{
    background: #dbdbdb;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    bottom: 5px;
    
}
.avtar img{
    width: 70px;
    border: 3px solid #dbdbdb;
    border-radius: 100%;
}
.yashu img{
    width: 70px;
    border: 3px solid #C13584;
    border-radius: 100%;
}   
    
.story{
    display: flex;
    align-items: center;
    justify-content: centre;
    background: white;
    width: 500px;
    border: .5px #dbdbdb;  
    border-radius: 8px;
    overflow: auto;
}
.yashu p{
    text-align: center;
    font-weight: bold;
    color: #6e6e6e;
}
.avtar p{
    text-align: center;
    color: grey;
}
.cardimg img{
    width: 500px;
}
.cards{
    margin: 10px;
    align-items: center;
    justify-content: centre;
    background: white;
    width: 500px;
    border: .5px #dbdbdb;  
    border-radius: 8px;
}
.avtar, .yashu{
    /*padding-left: 5px;
    padding-right: 5px;*/
    padding: 10px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
}
.profile img{
    width: 30px;
    padding-right: 15px;
}
.dots img{
    width: 30px;    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.love img{
    width: 30px;
    padding: 10px;
}
.comment img{
    width: 30px;
    padding: 10px;
}
.send img{
    width: 30px;
    padding: 10px;
}
.save img{
    width: 30px;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
}
.likeno{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
}
.likeno img{
    width: 20px;
    padding-right: 10px;
}
.dis{
    padding: 10px 20px;
}
#m{
    color: grey;
}
.comments{
    padding: 10px 20px;
    color: grey;
}
.date{
    padding: 10px 20px;
    color: grey; 
    font-size: 10px 
}
#a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}    
#a img{
    width: 20px;
    padding-right: 10px;
}
.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
#a p{
    color: grey;
}
#post a{
    text-decoration: none;
}
